



<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  
  <tbody>
  <% @services.each do |service| %>
    <tr>
      <th scope="row"><%=service.id%></th>
      <td><%= link_to service.name, service_path(service.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

