 <div class="container">
<table class="table mt-5">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  <% @vaccinations.each do |vaccination| %>
    <tr>
      <th scope="row"><%= link_to vaccination.name, vaccination_path(vaccination.id) %></th>
      <td>$<%= vaccination.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add New Vaccination", new_vaccination_path, :class => "btn btn-outline-info" %>

</div>