



<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  
  <tbody>
  <% @owners.each do |owner| %>
    <tr>
      <th scope="row"><%=owner.id%></th>
      <td><%= link_to owner.name, owner_path(owner.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add New Owner", new_owner_path %>
