<h1> <%= @owner.name %> </h1>

<p><span class = "bold-text">Mobile:</span> <%= @owner.mobile %> </p>
<p><span class = "bold-text">Email:</span> <%= @owner.email %></p>
<p><span class = "bold-text">Address:</span> <%= @owner.address %></p>
<p><span class = "bold-text">Dog:</span> </p>
