<div class="container">
  <table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Vet Name</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <% @vets.each do |vet| %>
      <tr>
        <td scope="row"><%= link_to vet.name, vet_path(vet.id) %></td>
        <td scope="row"><%= vet.phone %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add New Vet", new_vet_path, :class => "btn btn-outline-info" %>
</div>