


<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
  <% @vets.each do |vet| %>
    <tr>
      <th scope="row"><%=vet.id%></th>
      <td><%= link_to vet.name, vet_path(vet.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>