// Place all the styles related to the Dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
 background-color: white;
}

.thumbnail{
    height: 200px;
}

.feature{
    height: 300px;
}

.display-inline-block{
    display: block;

    & input{
        margin-right: 10px;
    }
}

.display-inline{
    display:inline;
}
.flex{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
